# Binaries
**/bin/
!vendor/bin/premake/
bin-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

#Phoenix files
**.log
**.json
/Phoenix/*.filters
/Phoenix/*.vcxproj
